{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="float-end">
                <button type="submit" form="form-payment" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
                <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endfor %}
            </ol>
        </div>
    </div>
    <div class="container-fluid">
        <div class="alert alert-info"><i class="fa-solid fa-circle-exclamation"></i> {{ text_description }}</div>
        <div class="card">
            <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
            <div class="card-body">
                <form id="form-payment" action="{{ save }}" method="post" data-oc-toggle="ajax">
                    <div class="row mb-3 required">
                        <label class="col-sm-2 col-form-label" for="input-merchantid">{{ entry_merchantid }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="shipping_rausch_foxpost_merchantid" value="{{ shipping_rausch_foxpost_merchantid }}" id="input-merchantid" class="form-control" />
                            {% if error_merchantid %}
                                <div class="text-danger">{{ error_merchantid }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3 required">
                        <label class="col-sm-2 col-form-label" for="input-merchantpass">{{ entry_merchantpass }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="shipping_rausch_foxpost_merchantpass" value="{{ shipping_rausch_foxpost_merchantpass }}" id="input-merchantpass" class="form-control" />
                            {% if error_merchantpass %}
                                <div class="text-danger">{{ error_merchantpass }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-source">{{ entry_source }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="shipping_rausch_foxpost_source" value="{{ shipping_rausch_foxpost_source }}" id="input-source" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-3 required">
                        <label class="col-sm-2 col-form-label" for="input-orderurl">{{ entry_orderurl }}</label>
                        <div class="col-sm-10">
                            <textarea name="shipping_rausch_foxpost_orderurl" cols="40" rows="5" id="input-orderurl" class="form-control">{{ shipping_rausch_foxpost_orderurl }}</textarea>
                            {% if error_orderurl %}
                                <div class="text-danger">{{ error_orderurl }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3 required">
                        <label class="col-sm-2 col-form-label" for="input-url">{{ entry_url }}</label>
                        <div class="col-sm-10">
                            <textarea name="shipping_rausch_foxpost_url" cols="40" rows="5" id="input-url" class="form-control">{{ shipping_rausch_foxpost_url }}</textarea>
                            {% if error_url %}
                                <div class="text-danger">{{ error_url }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-instalments"><span data-toggle="tooltip" title="{{ text_instalments }}">{{ entry_maxinstal }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="shipping_rausch_foxpost_maxinstal" value="{{ shipping_rausch_foxpost_maxinstal }}" id="input-instalments" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-total"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="shipping_rausch_foxpost_total" value="{{ shipping_rausch_foxpost_total }}" id="input-label" class="form-control" />
                        </div>
                    </div> 
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-order-status">{{ entry_processed_status }}</label>
                        <div class="col-sm-10">
                            <select name="shipping_rausch_foxpost_processed_status_id" id="input-processed-status" class="form-control">
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id == shipping_rausch_foxpost_processed_status_id %}
                                        <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                    {% else %}
                                        <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
                        <div class="col-sm-10">
                            <select name="shipping_rausch_foxpost_geo_zone_id" id="input-geo-zone" class="form-control">
                                <option value="0">{{ text_all_zones }}</option>
                                {% for geo_zone in geo_zones %}
                                    {% if geo_zone.geo_zone_id == shipping_rausch_foxpost_geo_zone_id %}
                                        <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                                    {% else %}
                                        <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <div class="form-check form-switch form-switch-lg">
                                <input type="hidden" name="shipping_rausch_foxpost_status" value="0"/> <input type="checkbox" name="shipping_rausch_foxpost_status" value="1" id="input-status" class="form-check-input"{% if shipping_rausch_foxpost_status %} checked{% endif %}/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-sort-order">{{ entry_sort_order }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="shipping_rausch_foxpost_sort_order" value="{{ shipping_rausch_foxpost_sort_order }}" id="input-sort-order" class="form-control"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}